.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: whitesmoke; */
  background: #d4d6d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.jobBoardRoot {
  /* display: flex;
  justify-content: space-between;
  width: 80%; */
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.jobCardRootWrap {
  margin: 4% auto;
  width: 70%;
  background: whitesmoke;
  border-radius: 25px;
  padding: 4%;
  cursor: pointer;
}

/* .jobCardRootWrap:hover {
  width:72%;
} */

.jobCardText {
  color: black;

}