.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  /* background: #d4d6d8; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.jobBoardRoot {
  width: 100%;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  align-content: center;
  /* margin-top: 1%; */
  background: url("https://images.unsplash.com/photo-1547979854-5333256878de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjc1MjQyfQ&auto=format&fit=crop&w=1950&q=80");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.jobBoardSearchAndCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 600px;
  background: #dcdcdc;
  padding: 3%;
  margin: 2% auto;
  border-radius: 10px;
}

.scraperRoot {}

.jobBoardSearch {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 1% auto;
}

.jobSearchInput {
  width: 80%;
  font-size: 32px;
  padding: 3%;
}

.jobBoardFilter {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.jobCardRootWrap {
  margin: 4% auto;
  width: 500px;
  background: white;
  border-radius: 25px;
  padding: 3%;
  cursor: pointer;
}

.jobCardRootWrap:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  transform: scale(1.05, 1.05);
  transition-duration: .30s;
}

.jobCardText {
  color: black;

}

.chevronWrapper {
  padding-bottom: 0%;
}

.jobStatusRootWrap {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: flex-end;
  justify-content: space-between;
  width: 50%;
}

.jobStatusWrap {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin: 4% 2%;
  width: 100%;
  padding-right: 25%;
}

.filterIcon {
  margin: 1% auto;
  cursor: pointer;
}

.filterRootWrap {
  display: flex;

}

.jobBoardFilterRoot {
  width: 100%;
  background: white;
  border-radius: 10px;
}

.checkBoxWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
}

.jobRoot {
  margin: 1.5% auto 4% auto;
  width: 75%;
}

.jobLink {
  text-decoration: none;
  cursor: pointer;
}

.jobLinkText {
  color: black;
  margin: 0;
  padding: 0;
  text-align: left;
}

.jobLinkText:hover {
  color: #3f51b5;
}

.jobLoCo {
  display: flex;
  justify-content: space-between;
  margin: 1% 0;
  width: 60%;
}

.jobDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 6% 0;
  width: 90%;
}

.jobInput {
  margin-top: 2% !important;
}

.jobDescriptionDetails {
  display: flex;
  width: 100%;
}

.jobDetailsWrap {
  width: 50%
}

.jobTitleWrap {
  margin: 2% 0 4% 0;
}

.jobDescription {
  width: 100%
}

.jobDetailTitle {
  color: black;
  text-align: left;
  border-bottom: 1px silver solid;
  letter-spacing: 1px;
  font-weight: 900 !important;
  font-size: 20px;
}

.jobDetailText {
  color: black;
  text-align: left;
  margin-top: 2% !important;
  font-size: 16px !important;
}

.averageWrap {
  margin-bottom: 4%;
}

.statusRadio {
  margin: 1% 0 3% 0;
  width: 100%;
}

.pieWrap {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.pieColor {
  margin: 15% auto;
  width: 100%;
  padding: 2%;
  border-radius: 10px;
}

.pieLabelText {
  border-radius: 10px;
  width: 98%;
  padding: 2%;
  /* font-weight: bold; */
  background: #d4d6d8;
}

.authRoot {
  width: 30%;
  margin-top: 2%;
  /* position: fixed;
  top: 15%; */
}

.jobDetailsButton {
  background: #3f51b5;
  width: 70%;
  padding: 2%;
  border-radius: 15px;
  margin: 2% auto 0 auto;
  cursor: pointer;
}

.jobDetailsButton:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  transform: scale(.95, .95);
  transition-duration: .30s;
}

.jobEditButton {
  background: #3f51b5;
  width: 35%;
  padding: 2%;
  border-radius: 15px;
  margin: 2% auto 0 auto;
  cursor: pointer;
}

.jobEditButton:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  transform: scale(.95, .95);
  transition-duration: .30s;
}

.jobEditRoot {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 20%;
  margin: 0 3% 3% 0;
  background: #3f51b5;
  padding: 10px 20px;
  border-radius: 15px;
}

.jobEditYesNo {
  color: black;
  border: 1px solid #3f51b5;
  font-weight: 600 !important;
  background: white;
  border-radius: 15px;
  padding: 5px 15px;
  cursor: pointer;
}

.jobEditYesNo:hover {
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  transform: scale(.95, .95);
  transition-duration: .30s;
}

@media only screen and (max-width: 1100px) {
  .authRoot {
    width: 60%;
  }

  .jobRoot {
    margin: 1.5% auto 4% auto;
    width: 85%;
  }

  .jobDetails {
    margin-bottom: 8%;
  }
}

@media only screen and (max-width: 768px) {
  .authRoot {
    width: 80%;
  }
}